body{
    font-size:16pt;
    font-family:"Segoe UI light", sans-serif;
}
.setup-wrapper{
    background:#ddd;
    width:800px;
    padding:10px 30px 50px;
    margin:100px auto;
    position:relative;
}
.page-name{
    font-size:3em;
    color:#333;
    font-weight:400;
}
form{
    margin:0 auto;
    width:400px;
}
label{
    width:100px;
    display:inline-block;
}
input + label{
    width:auto;
}
input[type=text]{
    width:300px;
    border:0;
    background:none;
    border-bottom:1px solid #aaa;
    margin-top:10px;
    margin-bottom:1px;

    font-size:inherit;
    font-family:"Segoe UI light", sans-serif;
    font-weight:200;
}
input[type=text]:focus{
    border-bottom:2px solid #42A5F5;
    margin-bottom:0;
    outline:none!important;
}
::-webkit-input-placeholder{
    color:#888;
}

input[type=submit]{
    padding:10px;
    background:#42a5f5;
    color:#ffffff;
    font-weight:bold;
    border:none;
}
.setup-save{
    position:absolute;
    right:30px;
    bottom:30px;
}

input.invalid{
    border-bottom:2px solid #F44336!important;
    margin-bottom:0!important;
}
.errors ul{
    margin-top:2px;
    color:#E53935;
    font-size:.7em;
    font-weight:bold;
    padding:0;
    list-style:none;
}

.wallet-list{
    width:1200px;
    margin:0 auto;
}
.wallet__name{
    font-size:1.5em;
}
.wallet{
    background:#ddd;
    padding:0 20px 50px;
    float:left;
    min-width:300px;
    position:relative;
    margin:20px;
}

.transaction-list    { list-style:none; padding:0; }
.transaction         { font-family:'Segoe UI'; font-weight:bold; }
.transaction--debit  { color:darkgreen; }
.transaction--credit { color:darkred; }

.action-button{
    padding:10px;
    background:#42a5f5;
    color:#ffffff;
    font-weight:bold;
    font-family:'Segoe UI';
    border:none;
    text-decoration:none;
    font-size:14px;
}
.action-button--wallet{
    bottom:20px;
    right:20px;
    position:absolute;
}
