<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{% block title %}Finance{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        {% block post_head %}{% endblock %}
    </head>

    <body>
        {% block pre_body %}{% endblock %}

        {% block body %}{% endblock %}

        {% block post_body %}{% endblock %}
    </body>
</html>
