.action-button{
  padding:10px;
  background:#42a5f5;
  color:#ffffff;
  font-weight:bold;
  border:none;
  text-decoration:none;
  font-size:14px;
}
.action-button--wallet{
  bottom:20px;
  right:20px;
  position:absolute;
}
