body{
  font-size:16pt;
  font-family:"Roboto", sans-serif;
}
.setup-wrapper{
  background:#ddd;
  width:800px;
  padding:10px 30px 50px;
  margin:100px auto;
  position:relative;
}
.page-name{
  font-size:3em;
  color:#333;
  font-weight:400;
}
